<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="true"> 
　　  <!--其他配置省略--> 
	<property name="LOGHOME" value="D:\\loghome\\" /> 
　　
	<!-- 日志输出的格式或者输出的方式 答应到控制台 -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender"> 
　　　　　 <!-- 日志输出编码 -->
		<encoder>
			<!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
			<pattern>%d %contextName [%thread] %-5level %logger{36} - %msg%n</pattern>
			<charset>UTF-8</charset>
		</encoder>
　　　</appender> 
	
	<!-- 打印到文件 -->
	<appender name="FILE" class="ch.qos.logback.core.FileAppender"> 
	　　　　<file>${LOGHOME}testFile.log</file> 
	　　　　<append>true</append> 
	　　　　<encoder> 
	　　　　　　<pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern> 
	　　　　</encoder> 
	　</appender> 
	
	<appender name="FILE2" class="ch.qos.logback.core.rolling.RollingFileAppender"> 
　　　　　　<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy"> 
　　　　　　　　　<fileNamePattern>${LOGHOME}logFile.%d{yyyy-MM-dd HH-mm-ss-ms}.log</fileNamePattern> 
　　　　　　　　　<maxHistory>30</maxHistory> 
　　　　　　</rollingPolicy> 
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy"> 
　　　　　　　　　　<maxFileSize>5MB</maxFileSize> 
　　　　　　</triggeringPolicy> 
　　　　　　<encoder> 
　　　　　　　　　<pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern> 
　　　　　　</encoder> 
　　　</appender>

	<!--  mapper 文件的包路径-->
	<logger name="mapper" level="debug" />
	<logger name="com.kp.dao" level="debug" ></logger>
	<!--myibatis log configure-->
	<logger name="org.apache.ibatis" level="TRACE"/>
	<logger name="java.sql.Connection" level="DEBUG"/>
	<logger name="java.sql.Statement" level="DEBUG"/>
	<logger name="java.sql.PreparedStatement" level="DEBUG"/>
	<logger name="org.mybatis">
		<level value="TRACE"/>
	</logger>

	<!-- 日志的级别  -->
　　　<root level="trace"> 
　　　　<appender-ref ref="STDOUT" />
　		<!--<appender-ref ref="FILE" />
		<appender-ref ref="FILE2" />-->
　　　</root>
</configuration>